<div class="navbar vh-100 ps-5 pb-3 d-flex align-items-end">
  <div>
    <ul class="list-inline">
      <li class="navbar-item">
        <%= link_to "My Lists", root_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "New List", new_list_path %>
      </li>
    </ul>
  </div>
</div>
